.page {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .header {
    height: 58px;
    background-color: aqua;
  }

  .content {
    flex: 1;
    display: flex;

    .lib {
      width: 300px;
      background-color: bisque;
    }

    .canvas {
      flex: 1;
      background-color: cadetblue;
    }

    .config {
      width: 300px;
      background-color: darkgrey;
    }
  }
}
