@headerHeight: 32px;
.page {
  height: 100%;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    height: @headerHeight;
    padding: 0 12px;

    .scale {
      width: 200px;
    }
  }

  .content {
    display: flex;
    height: calc(100% - @headerHeight);
    overflow: hidden;

    .layer {
      width: 194px;
      background-color: #555;
    }

    .lib {
      width: 194px;
      // background-color: #141414;
    }

    .workspaceContainer {
      position: relative;
      flex: 1 1 0;
      padding: 20px;
      overflow: auto;
      background-color: #5d5d5d;

      .workspace {
        position: relative;
        overflow: hidden;

        .board {
          position: relative;
          z-index: 0;
          background-color: #141414;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
          transform-origin: 0 0;
        }
      }
    }

    .config {
      width: 300px;
      height: 100%;
      background-color: #333;
      user-select: none;
    }
  }
}
