@headerColor: #282828;

.configTabs {
  & > :global(.ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list) {
    display: flex;
    width: 100%;
    background-color: @headerColor;

    :global {
      .ant-tabs-tab {
        display: block;
        flex: 1;
        text-align: center;
      }

      .ant-tabs-tab + .ant-tabs-tab {
        margin: 0;
      }

      .ant-tabs-ink-bar {
        top: 0;
      }
    }
  }
}

.boardConfigHeader {
  height: 36px;
  margin-bottom: 8px;
  line-height: 36px;
  text-align: center;
  background-color: @headerColor;
}
