@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/lib/codemirror.css';

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 右侧编辑区域公共样式
.editor-form {
  width: 300px;

  .ant-form-item {
    display: flex;
    padding: 0 8px 8px;
    margin-bottom: 0;
    .ant-form-item-label {
      flex: 1;
      padding-right: 8px;
    }

    .ant-form-item-control {
      flex: none;
      width: 192px;
    }
  }

  .ant-collapse-extra {
    .ant-form-item {
      padding: 0;
    }
  }

  .ant-collapse {
    // margin-bottom: 8px;
  }

  // .ant-collapse + .ant-collapse {
  //   margin-bottom: 0;
  // }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 8px 0 0 8px;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 4px;
  }

  .ant-slider {
    padding: 0;
    margin: 8px 0 0;

    .ant-slider-track {
      background-color: #53abfb;
    }

    .ant-slider-handle {
      background-color: #2b949d;
      border: solid 2px #283f54;
    }
  }
}

// rc-color-picker 弹出框数字文字为白色看不到
.rc-color-picker {
  color: #000;
}
